<h1 style="font-family:calibri; ">Is your mind full of thoughts?</h1>
<pre style="font-family:calibri; ">I'll try help you.
Click on thoughts to evaporate them, giving you the desired freedom.

Or perhaps, sure, if scared of emptiness you can:</pre>


<style>
button {font-family: calibri;}
button:hover {background-color: #fefefe;}
</style>

<button type="button" >Bring the thoughts back!</button><br>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script>

$(document).ready(function(){

	var div = $("div")
    $(div).click(function(){
        div.animate({left: '300px'},{ duration: 900, queue: false });
        div.fadeOut();
        div.fadeOut("slow");
        div.fadeOut(1000);
    });

    $("button").click(function(){
    	var div = $("div")
        div.animate({left: '0px'},{ duration: 900, queue: false });
        div.fadeIn();
        div.fadeIn("slow");
        div.fadeIn(3000);

    });
});
</script>
</head>
<body>

<div style="font-family:calibri;background:lightgreen;height:20px;width:60px;position:relative;top: 20px">Thoughts</div>
<div style="font-family:calibri;background:lightblue;height:20px;width:60px;position:relative;top: 30px">Thoughts</div>
<div style="font-family:calibri;background:lightyellow;height:20px;width:60px;position:relative;top: 40px">Thoughts</div>
<div style="font-family:calibri;background:yellow;height:20px;width:60px;position:relative;top: 50px">Thoughts</div>
<div style="font-family:calibri;background:orange;height:20px;width:60px;position:relative;top: 60px;">Thoughts</div>
